{% extends 'base.html.twig' %}
{% block content %}
    <main class="px-3">
        <h1>Jouez au GO avec vos amis!</h1>
        <p class="lead">Let's GO est un projet pour nous entrainer à coder entre amis.</p>
        <p class="lead">
            <a href="{{ path('jouer') }}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Jouer</a>
        </p>
    </main>
{% endblock %}