<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Let's GO</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link href="css/cover.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="d-flex h-100 text-center text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0">Let's GO</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                    {% if page == "accueil" %}
                        <a class="nav-link active" aria-current="page" href="{{ path('accueil') }}">Accueil</a>
                        <a class="nav-link" href="{{ path('jouer') }}">Jouer</a>
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    {% elseif page == "jouer" %}
                        <a class="nav-link" aria-current="page" href="{{ path('accueil') }}">Accueil</a>
                        <a class="nav-link active" href="{{ path('jouer') }}">Jouer</a>
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    {% elseif page == "contact" %}
                        <a class="nav-link" aria-current="page" href="{{ path('accueil') }}">Accueil</a>
                        <a class="nav-link" href="{{ path('jouer') }}">Jouer</a>
                        <a class="nav-link active" href="{{ path('contact') }}">Contact</a>
                    {% endif %}
                    </nav>
                </div>
            </header>

            {% block content %}{% endblock %}

            <footer class="mt-auto text-white-50">
                {# ajouter des info plus tard dans le projet #}
            </footer>

            {% block javascripts %}{% endblock %}
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
        </div>


    
  

</body>
</html>
