{% extends 'base.html.twig' %}
{% block content %}
    <main class="px-3">
    <h1>Découvrez le grand esprit derrière ce projet</h1>
        <p class="lead">
            <a href="{{ path('CV') }}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Romain Siegfriedt</a>
        </p>

    </main>
{% endblock %}