{% extends 'base.html.twig' %}
{% block content %}
    <main class="px-3">
        <p class="lead">
        {{couleur}}
            {# 
                -arriver ici avec le la couleur
                -en javascript, recharger la page après ~8s (en envoyant la couleur)
            #}
        </p>
    </main>

    <script>
        function makeAlert(){ 
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/jeu", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("noir");
        };

        setInterval(makeAlert, 8000);
    </script>
{% endblock %}