{% extends 'base.html.twig' %}
{% block content %}
    <main class="px-3">
        <form action="{{ path('creerPartie') }}" method="post" class="lead">
            <label for="mdp">Mot de passe</label>
            <input type="text" id="mdp" name="mdp"><br>
            <input type="submit" value="Créer un partie"><br><br>
        </form>
        <form action="" method="post" class="form-example">
            <label for="mdp">Mot de passe</label>
            <input type="text" id="mdp" name="mdp"><br>
            <input type="submit" value="Rejoindre une partie"><br><br>
        </form>
    </main>
{% endblock %}